<div class="mt-5 container animated bounceInDown">
  <div class="animated shake" *ngIf="wait">
    <mdb-card>
      <mdb-card-body>
        <h3 class="text-center">
          <p>Patientez...</p>
        </h3>
      </mdb-card-body>
    </mdb-card>
  </div>
  <mdb-card *ngIf="!wait">
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>ENTREE TABLETTES</strong>
      </h5>
    </mdb-card-header>
    <mdb-card-body class="row">
      <div class="col-md-4">
        <form style="color: #757575;" [formGroup]="stockForm">
          <div class="md-form">
            <div class="md-form">
              <input mdbInput type="text" id="refNum" formControlName="refNum" class="form-control">
              <label for="refNum">Référence</label>
            </div>
          </div>
          <div class="md-form">
            <mdb-date-picker name="mydate" [inline]="true" [options]="myDatePickerOptions"
              [placeholder]="'choisir la date'" formControlName="mvtDate"></mdb-date-picker>
          </div>
          <div class="md-form">
            <mdb-select [options]="stores" placeholder="Magasin Source" formControlName="fromStoreId"></mdb-select>
          </div>
          <div class="md-form">
            <mdb-select [options]="stores" (ngModelChange)="cheickStoreTypeId()" placeholder="Magasin Destination" formControlName="toStoreId"></mdb-select>
          </div>
          <div class="md-form" *ngIf="showRegion">
            <mdb-select [options]="regions" (ngModelChange)="getDepartments()" placeholder="Region" formControlName="regionId"></mdb-select>
          </div>
          <div class="md-form" *ngIf="showRegion">
            <mdb-select [options]="departments"  placeholder="Department" formControlName="departmentId"></mdb-select>
          </div>
          <div class="file-field md-form">
            <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
              <span>importer</span>
              <input type="file" mdbFileSelect (change)="onFileChange($event)" accept=".xlsx, .xls">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8 animated bounceInRight" *ngIf="showTablets">
        <p>{{tablets.length}} tablette(s) importée(s)</p>
        <div class="row" style="overflow-y: scroll; height:160px;">
          <div class="col-md-1" *ngFor="let tablet of tablets"><span>{{tablet}}</span></div>
        </div>
        <button size="sm" type="button" [disabled]="!stockForm.valid" mdbBtn color="success" (click)="basicModal.show()"
          mdbWavesEffect>enregistrer</button>
      </div>

    </mdb-card-body>
  </mdb-card>

</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">CONFIRMATION</h4>
      </div>
      <div class="modal-body">
        <p>Etes vous sûre de vouloir valider l'enregistrement ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="light" size="sm" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>annuler</button>
        <button type="button" mdbBtn color="success" size="sm" class="relative waves-light" mdbWavesEffect
          (click)="[basicModal.hide(),saveStockAllocation()]">enregistrer</button>
      </div>
    </div>

  </div>
</div>