<div class="container mt-5 animated bounceInUp">
  <mdb-card>
    <mdb-card-body>
      <table class="table-condensed mb-3 mt-2" style="width: 50%;">
        <tr>
          <td>Salle</td>
          <td>:</td>
          <td>
            <b> &nbsp;{{trainingClass?.name}} ({{trainingClass?.departmentName}}/{{trainingClass?.cityName}}) </b>
          </td>
        </tr>
        <tr>
          <td>Date</td>
          <td>:</td>
          <td>
            <b>{{trainingClass?.trainingDate}} </b>
          </td>
        </tr>
        <tr>
          <td>CEL(s)</td>
          <td>:</td>
          <td>
            <b> <span *ngFor="let city of trainingClass?.cities">{{city.name}} / </span></b>
          </td>
        <tr>
          <td>
            <span *ngIf="trainingClass?.trainers.length===1">Formateur</span>
            <span *ngIf="trainingClass?.trainers.length>1">Formateurs</span>
          </td>
          <td>:</td>
          <td>
            <b>&nbsp;<span *ngFor="let trainer of trainingClass?.trainers">{{trainer.lastName}}
                {{trainer.firstName}} <span *ngIf="trainingClass.trainers.length>1"> - </span> </span>
            </b>
          </td>
        </tr>
        <tr>
          <td>Participants</td>
          <td>:</td>
          <td>
            <b> &nbsp;{{trainingClass?.totalTrained}} </b>
          </td>
        </tr>
        <tr>
          <td>Inscrit(s)</td>
          <td>:</td>
          <td>
            <b> &nbsp;{{participants.length}} </b>
          </td>
        </tr>
      </table>
      <button type="button" size="sm" mdbBtn   color="primary" mdbWavesEffect [routerLink]="['/inscription/', trainingClass?.id, trainingClass?.regionId]">ajouter</button>
      <button type="button" *ngIf="trainingClass?.status===0" [disabled]="isSelected.length===0" size="sm" mdbBtn
      color="danger" mdbWavesEffect (click)="basicModal.show();showDiv(false)">retirer</button>
    <button type="button" size="sm" mdbBtn color="light" mdbWavesEffect
      [routerLink]="['/formation/', trainingClass?.trainingId]"> retour </button>
  
    
    </mdb-card-body>
  </mdb-card>
 
  <table id="tableSortExample" mdbTable class="z-depth-1" *ngIf="participants.length>0">
    <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col"
          [mdbTableSort]="participants" [sortBy]="headElements[i]">{{head | titlecase}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let el of participants; let i = index">
        <th scope="row">
          <mdb-checkbox [(ngModel)]="el.pris" (change)="select(el.id)">{{i+1}}</mdb-checkbox>
        </th>
        <td>{{el.lastName}}</td>
        <td>{{el.firstName}}</td>
        <td>{{el.phoneNumber}}</td>
        <td>{{el.typeEmpName}}</td>
        <td>{{el.regionName}}</td>
        <td>{{el.departmentName}}</td>
        <td>{{el.resCityName}}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="participants.length===0" class=" alert alert-info mt-1">
    Aucune personne trouvée...
    </div>
</div>

<div class="container" id="test" *ngIf="show">
  <table class="table-condensed mt-1" style="width: 100%;  border-collapse: collapse; border-spacing: 0;">
    <tr>
      <td valign="top" rowspan="4" style="width:50%;" class="text-left">
        <img style="width:40%; height: 50%;" class="mt-0" src="../../../../assets/images/at.png" alt="">
        <ngx-qrcode class="mb-5" id="qrCodeImage" [qrc-element-type]="elementType" [qrc-value]="qrcodename">
        </ngx-qrcode>
      </td>
      <td style="width:15%"> <span style="font-size: 20px;">Nom de la Salle</span> </td>
      <td style="width:5%">:</td>
      <td style="width:30%">
        <b> &nbsp;<span style="font-size: 20px;">{{trainingClass?.name}}</span> </b>
      </td>

    </tr>
    <tr>
      <td><span style="font-size: 20px;">Date </span> </td>
      <td>:</td>
      <td>
        <!-- <b style="font-size: 20px;"> &nbsp;du {{trainingClass?.startDate | date : 'dd-MM-yyyy'}} au
          {{trainingClass?.endDate | date : 'dd-MM-yyyy'}} </b> -->
      </td>

    </tr>
    <tr>
      <td><span style="font-size: 20px;">Localisation</span></td>
      <td>:</td>
      <td>
        <b style="font-size: 20px;">{{trainingClass?.departmentName}}/{{trainingClass?.cityName}}</b>
      </td>
    </tr>
    <tr style="font-size: 20px;">
      <td>
        <span style="font-size: 20px;" *ngIf="trainingClass?.trainers.length===1">Formateur</span>
        <span style="font-size: 20px;" *ngIf="trainingClass?.trainers.length>1">Formateurs</span>
      </td>
      <td>:</td>
      <td>
        <b>&nbsp;<span style="font-size: 20px;" *ngFor="let trainer of trainingClass?.trainers">{{trainer.lastName}}
            {{trainer.firstName}} <span *ngIf="trainingClass?.trainers.length>1"> - </span> </span>
        </b>
      </td>
    </tr>

  </table>

  <div class="alert alert-info" *ngIf="participants.length===0">
    <span>aucune personne trouvée</span>
  </div>
  <div *ngIf="participants.length>0">
    <table mdbTable class="table-bordered" class="z-depth-1">
      <thead>
        <tr style="border-bottom: 1px solid black;">
          <th>#</th>
          <th style="font-size:20px;">Nom</th>
          <th style="font-size:20px;">Prénom(s)</th>
          <th style="font-size:20px;">Contact(s)</th>
          <th style="font-size:20px;">Emargement</th>
          <th style="font-size:20px;">Obsv.</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let el of participants; let i = index" style="border-bottom: 1px solid black;">
          <th scope="row">{{i+1}}</th>
          <td><b style="font-size:20px;">{{el.lastName}}</b></td>
          <td><b style="font-size:20px;"> {{el.firstName}}</b></td>
          <td><b style="font-size:20px;">{{el.phoneNumber}} <span *ngIf="el.secondPhoneNumber"> /
                {{el.secondPhoneNumber}}</span></b></td>
          <td></td>
          <td></td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+1}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+2}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+3}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+4}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+5}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+6}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+7}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+8}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+9}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="border-bottom: 1px solid black;">
          <th scope="row">{{participants.length+10}}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>


</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide(); hideDiv()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">CONFIRMATION</h4>
      </div>
      <div class="modal-body">

        <h3 *ngIf="!showConfirmation">Imprimer cette liste ?</h3>
        <h3 *ngIf="showConfirmation">confirmez-vous l'enregistrement du rétrait ?</h3>
        <div class="modal-footer">
          <button type="button" mdbBtn color="light" size="sm" class="waves-light" aria-label="Close"
            (click)="basicModal.hide(); hideDiv()" mdbWavesEffect>annuler</button>
          <button type="button" *ngIf="!showConfirmation" mdbBtn color="primary" size="sm" class="relative waves-light"
            mdbWavesEffect (click)="[basicModal.hide(),captureScreen()]">imprimer!</button>

          <button type="button" *ngIf="showConfirmation" mdbBtn color="primary" size="sm" class="relative waves-light"
            mdbWavesEffect (click)="[basicModal.hide(),removeUsers()]">enregistrer!</button>
        </div>
      </div>

    </div>
  </div>
</div>