<div class="container mt-5 animated fadeInDown">

  <mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" class="classic-tabs">
    <!--Panel 1-->
    <mdb-tab heading="POINT PAR REGION">
      <br>
      <div *ngIf="showRegions" class="container">
        <mdb-card class="row mb-3">
          <mdb-card-body>
            <form [formGroup]="searchForm">
              <div class="md-form">
                <mdb-select [options]="regions" id="regionId" (ngModelChange)="getDetails()" placeholder="Region"
                  formControlName="regionId">
                </mdb-select>
              </div>
            </form>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div *ngIf="showDetails" class="container">
        <div *ngIf="!noResult && !show">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div *ngIf="noResult">
          {{noResult}}
        </div>
        <div class="row  animated fadeInUp" *ngIf="show">

          <div *ngFor="let dept of region.departments" class="col-md-12 mb-2">
            <mdb-card>
              <mdb-card-body>
                <mdb-card-title class="text-center">
                  <h4><b>department : {{dept.name}} ({{dept.nbEmpNeeded}}) </b>: <b>{{dept.totalRegisteredPrct }}</b>
                    attendus, <b>{{dept.totalRegistered }}</b> présents </h4>
                </mdb-card-title>
                <mdb-card-body>

                  <table mdbTable #tableEl="mdbTable" style="width: 100%;" stickyHeader="true" small="true"
                    stripped="true" class="z-depth-1">
                    <thead class="sticky-top">
                      <tr>
                        <th>#</th>
                        <th>CEL (total)</th>
                        <th>Attendus</th>
                        <th>présents</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr mdbTableCol *ngFor="let city of dept.cities; let k = index" [ngClass]="{'alert alert-danger' :city.prctRegistered<50
                    , 'alert alert-warning' :city.prctRegistered<80 && city.prctRegistered>=50
                      , 'alert alert-primary' :city.prctRegistered<90 && city.prctRegistered>=80
                        , 'alert alert-success' :city.prctRegistered<=100 && city.prctRegistered>90
                        , 'alert alert-dark' :city.prctRegistered>100
                      }">
                        <th>{{k+1}}</th>
                        <td style="font-size: 13px;"><b>{{city.name}} ({{city.nbEmpNeeded}})</b></td>
                        <td>
                          <h5><b>{{city.totalRegisteredPrct}}</b></h5>
                        </td>
                        <td>
                          <h5><b> {{city.totalRegistered}}</b></h5>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                </mdb-card-body>
              </mdb-card-body>
            </mdb-card>

          </div>




        </div>
      </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="POINT PAR DATE">
      <div class="row d-flex justify-content-center m-2">
        <mdb-card class="col-md-12">
          <form style="color: #757575;" [formGroup]="searchBydateForm">
            <div class="form-row">
              <div class="col">
                <div class="md-form form-sm">
                  <mdb-date-picker name="mydate" [inline]="true" [options]="myDatePickerOptions"
                    [placeholder]="'date debut'" formControlName="startDate"></mdb-date-picker>
                </div>
              </div>

              <div class="col">
                <div class="md-form form-sm">
                  <mdb-date-picker name="mydate1" [inline]="true" [options]="myDatePickerOptions"
                    [placeholder]="'date debut'" formControlName="endDate"></mdb-date-picker>
                </div>
              </div>
              <div class="col">
                <div class="md-form form-sm">
                  <button type="button" (click)="searchTrainings()"
                    [disabled]="!searchBydateForm.value.startDate && !searchBydateForm.value.endDate" size="sm" mdbBtn
                    color="primary" mdbWavesEffect>rechercher</button>

                  <button type="button" (click)="reset()" size="sm" mdbBtn color="light"
                    mdbWavesEffect>reprendre</button>
                </div>
              </div>

            </div>
          </form>
        </mdb-card>
        

        <!-- <div *ngIf="showTrainings" class="row">
          
        </div> -->

        <div *ngIf="showTrainings && !recap && trainings.length===0" >
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-2" *ngIf="recap && trainings.length>0">
          <mdb-card>
            <mdb-card-body>
              <table style="width: 30%; font-size: 14px;">
                <tr>
                  <td>Nombre de jour formations</td>
                  <td>:</td>
                  <td><b>{{trainings.length}}</b></td>
                </tr>

                <tr>
                  <td>Nombre de salles</td>
                  <td>:</td>
                  <td><b>{{recap.totalClasses}}</b></td>
                </tr>
                <tr>
                  <td>Nombre de salles cloturées</td>
                  <td>:</td>
                  <td><b>{{recap.totalClosed}}</b></td>
                </tr>

                <tr>
                  <td>Nombre de salles terminées</td>
                  <td>:</td>
                  <td><b>{{recap.totalSummarized}}</b></td>
                </tr>

              </table>


            </mdb-card-body>
          </mdb-card>

          <mdb-card class="mt-1">
            <mdb-card-body>
              <table mdbTable #tableEl="mdbTable" style="width: 100%;" stickyHeader="true" small="true"
                stripped="true" class="z-depth-1">
                <thead class="sticky-top">
                  <tr>
                    <th>#</th>
                    <th>Region</th>
                    <th>Foramtion</th>
                    <th>Date</th>
                    <th>Nbre de salles</th>
                    <th>Salles cloturées</th>
                    <th>Salles terminées</th>
                  </tr>
                </thead>
                <tbody>
                  <tr mdbTableCol *ngFor="let training of trainings; let k = index">
                    <th>{{k+1}}</th>
                    <td>{{training.regionName}}</td>
                    <td><a [routerLink]="['/formation/', training.id]"
                      *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']" class="stretched-link"> <b>{{training.name}} </b>
                    </a> </td>
                    <td>{{training.strTrainingDate}}</td>
                    <td>{{training.totalClasses}}</td>
                    <td>{{training.totalClosed}}</td>
                    <td>{{training.totalSummarized}}</td>

                  </tr>
                </tbody>
              </table>
            </mdb-card-body>
          </mdb-card>

        </div>
        <div class="mt-1" *ngIf="noTraining">
          {{noTraining}}
        </div>

      </div>
    </mdb-tab>

  </mdb-tabset>
</div>