<div class="container mt-5 animated bounceInDown">
  <div class="d-flex justify-content-center">
    <div *ngIf="wait">
      <h3>patientez...</h3>
    </div>
    <div class="col-md-12" *ngIf="!wait">
      <mdb-card>
        <mdb-card-body>
          <form>
            <div class="file-field md-form">
              <div mdbBtn color="primary" size="sm" class="waves-light" mdbWavesEffect>
                <span>importer</span>
                <input type="file" mdbFileSelect (change)="onFileChange($event)" accept=".xlsx, .xls">
              </div>

            </div>
          </form>
        </mdb-card-body>
      </mdb-card>


      <mdb-card *ngIf="showExport" class="animated bounceInUp mt-3">
        <mdb-card-body>
          <table style="width: 100%;font-size: 8px;" id="tableSortExample" mdbTable mdbTableScroll scrollY="true"
            maxHeight="300" bordered="true" class="z-depth-1 mt-1">
            <thead>
              <tr>
                <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col"
                  [mdbTableSort]="importedUsers" [sortBy]="headElements[i]">{{head | titlecase}}
                  <!-- <mdb-icon fas icon="sort"></mdb-icon> -->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of importedUsers; let i = index">
                <th scope="row">
                  {{i+1}}
                </th>
                <td>{{el.lastName}}</td>
                <td>{{el.firstName}}</td>
                <td>{{el.phoneNumber}} <span *ngIf="el.secondPhoneNumber">/{{el.secondPhoneNumber}}</span></td>
                <td>
                  <span [ngClass]="{'text-danger' :!el.tabletExist}"><b>{{el.imei}}</b></span> <br>
                  <span *ngIf="!el.tabletExist" style="font-size: 8px;" class="text-danger">imei non rétrouvé...</span>
                  <span *ngIf="el.tabletExist" style="font-size: 8px;">{{el.store.name}}</span>
                </td>
                <td>
                  <span [ngClass]="{'text-danger' :!el.ecExist}"><b>{{el.ecCode}}</b></span> <br>
                  <span *ngIf="el.ecExist" style="font-size: 8px;">{{el.enrolmentCenterName}}</span>
                  <span *ngIf="!el.ecExist" style="font-size: 8px;">aucun centre trouvé...</span>
                </td>
                <td>
                  <div class="md-form form-sm mt-2 mb-0">
                    <input type="text" class="form-control" id="date{{i}}" [(ngModel)]="el.opDate"
                      [textMask]="{mask: birthDateMask}" mdbInput>
                    <label for="dateofBirth">date affectation</label>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
          <button type="button" [disabled]="!canAddUsers" (click)="basicModal.show();verifyOpDates()" size="sm" mdbBtn color="success"
            mdbWavesEffect>enregistrer</button>
        </mdb-card-body>
      </mdb-card>
    </div>

  </div>
</div>



<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">CONFIRMATION</h4>
      </div>
      <div class="modal-body">
        <b *ngIf="isOk">confirmez-vous l'enregistrement des {{importedUsers.length}} opérateur(s) ?</b>
        <span *ngIf="!isOk" class="text-danger">Veuillez verifier toute les dates d'affectation</span>
      </div>
      <div class="modal-footer">
        <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>fermer</button>
        <button type="button" [disabled]="!isOk" (click)="save();basicModal.hide()" size="sm" mdbBtn color="success"
          class="relative waves-light" mdbWavesEffect>enregistrer</button>
      </div>
    </div>
  </div>
</div>