<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/612187/mc-logo-white.svg" class="logo" width="192">

<div class="browser">
  <div class="controls">
    <i></i>
    <i></i>
    <i></i>
  </div>
  
  <div class="eye"></div>
  <div class="eye"></div>
  <div class="mouth">
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
    <div class="lips"></div>
  </div>
</div>

<h1>Malheureusement, quelque chose a mal tourné.</h1>
<p>Nous ne pouvons pas répondre à votre demande. Soyez assuré que nous avons été informés et examinons le problème. S'il vous plaît rafraîchir votre navigateur. Si l'erreur persiste, veuillez contacter votre administrateur le plus tôt possible</p>

<!-- 404 text -->
<!--
<h1>Unfortunately, this page does not exist.</h1>
<p>The link you clicked may be broken or the page may have been removed.</p>
-->