<ul class="navbar-nav mr-auto">
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/home']">accueil</a>
  </li>

  <!-- <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/demo']">démos</a>
  </li> -->

  <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      inscriptions
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/inscription']"
        *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">inscription</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/preSelection']"
        *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">pré-selection</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/opHandling']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">rélocalisation</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/communes']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">communes</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" *appHasRole="['Admin']"
        [routerLink]="['/registrationLocalilties']">localité d'inscription</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" *appHasRole="['Admin']"
        [routerLink]="['/assignAccount']">assigner compte</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/detailInscription']"
        *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">Point Inscription</a>
     
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/formations']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">formations</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/trainingResult']"
        *appHasRole="['SuperAdmin', 'Admin', 'AgentHotline']">point formations</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      opération
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/employees']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Maintenancier']">membre du personnel</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/assignment']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">affectation opérateur</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/expressAssignment']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">affectation nouvel opérateur</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/ecs']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">centre d'enrôlement </a>
      

    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      stocks
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/stockEntry']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">entrée stock</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/stockAllocation']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">transfert stock</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/approSphare']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">appro Sphare</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/backTablet']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">retour tablette</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown
  *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">
  <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
    maintenance
  </a>
  <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
    <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/failure']"
      *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">déclaration panne</a>

      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/failures']"
      *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">pannes déclarées</a>
  </div>
</li>
<li class="nav-item dropdown btn-group" dropdown
*appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">
<a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
  export
</a>
<div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
  <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/sdcard']"
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">Ajout SDCARD</a>

  
</div>
</li>

  <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      rétrofit
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStores']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">magasin</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/products']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">Materiels</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStockEntry']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">Entrée Stock</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStockTransfer']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">Transfert Stock</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStockHistories']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">Historique</a>
      
    </div>
  </li>

</ul>
