<ul class="navbar-nav mr-auto">
  <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/home']">accueil</a>
  </li>

  <!-- <li class="nav-item waves-light" mdbWavesEffect>
    <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/demo']">démos</a>
  </li> -->

  <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline', 'Idemia']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      Formation
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/inscription']"
        *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline',  'Supervisor']">inscription</a>
         <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/opHandling']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">rélocalisation</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" *appHasRole="['Admin',  'Supervisor', 'AgentHotline']"
        [routerLink]="['/registrationLocalilties']">localité d'inscription</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" *appHasRole="['Admin',  'Supervisor']"
        [routerLink]="['/assignAccount']">assigner compte</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/detailInscription']"
        *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline',  'Supervisor']">Point formations</a>
     
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/formations']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">formations</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline', 'Idemia',  'Supervisor']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      opération
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/employees']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Maintenancier',  'Supervisor']">membre du personnel</a>
      

    </div>
  </li>
  <!-- <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline', 'Idemia',  'Supervisor']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      stocks
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/stockEntry']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">entrée stock</a>
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/stockAllocation']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">transfert stock</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/approSphare']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">appro Sphare</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/backTablet']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">retour tablette</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/sendToRepair']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">envoi en réparation</a>
    </div>
  </li>
  <li class="nav-item dropdown btn-group" dropdown
  *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">
  <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
    maintenance
  </a>
  <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
    <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/failure']"
      *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">déclaration panne</a>

      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/failures']"
      *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">pannes déclarées</a>

      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/failuresPoint']"
      *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">états des pannes</a>
  </div>
</li> -->
<!-- <li class="nav-item dropdown btn-group" dropdown
*appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">
<a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
  export
</a>
<div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
  <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/sdcard']"
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline']">Ajout SDCARD</a>
    <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/sdcardDetails']"
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">SDCARD</a>

    <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/exports']"
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">Exports</a>
    <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/pointExport']"
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">Point Exports</a>

  
</div>
</li> -->

  <!-- <li class="nav-item dropdown btn-group" dropdown
    *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline', 'Idemia',  'Supervisor']">
    <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
      rétrofit
    </a>
    <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
      <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStores']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">magasin</a>

        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/products']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">Materiels</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStockEntry']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">Entrée Stock</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStockTransfer']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">Transfert Stock</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/retrofitStockHistories']"
        *appHasRole="['SuperAdmin', 'Admin',  'AgentHotline',  'Supervisor']">Historique</a>
      
    </div>
  </li> -->

</ul>
