<ul class="navbar-nav mr-auto">
    <li class="nav-item waves-light" mdbWavesEffect>
      <a class="nav-link text-muted" (click)="closeNavOnClick()" [routerLink]="['/home']">accueil</a>
    </li>
    <li class="nav-item dropdown btn-group" dropdown *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']">
      <a dropdownToggle type="button" class="nav-link text-muted dropdown-toggle waves-light" mdbWavesEffect>
        inscriptions
      </a>
      <div class="dropdown-menu dropdown-primary dropdown-menu-left" role="menu">
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/inscription']" *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']" >inscription</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" *appHasRole="['Admin']" [routerLink]="['/registrationLocalilties']">localité d'inscription</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" *appHasRole="['Admin']" [routerLink]="['/assignAccount']">assigner compte</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/detailInscription']" *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']" >Point Inscription</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/preSelection']" *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']" >pré-selection</a>
        <a class="dropdown-item" (click)="closeNavOnClick()" [routerLink]="['/formations']" *appHasRole="['SuperAdmin', 'Admin', 'Maintenancier', 'AgentHotline']" >formations</a>
      </div>
    </li>
    
  </ul>
  