<div class="container mt-5 animated bounceInDown">
  <mdb-card>
    <mdb-card-body>
      <form style="color: #757575;" [formGroup]="affectationForm">
        <div class="row">
          <div class="col-md-3">
            <div class="md-form form-sm  m-0">
              <mdb-select id="regionId" [options]="regions" placeholder="region" (ngModelChange)="getDepartments()"
                formControlName="regionId">
              </mdb-select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="md-form form-sm m-0">
              <mdb-select id="departmentId" [options]="depts" placeholder="département" formControlName="departmentId"
                (ngModelChange)="getAffectationCities()">
              </mdb-select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="md-form form-sm  m-0">
              <mdb-select id="resCityId" [options]="cities " placeholder="sous-prefecture" (ngModelChange)="getMuns()"
                formControlName="resCityId">
              </mdb-select>
            </div>
          </div>

          <div class="col-md-3">
            <button type="button" size="sm" mdbBtn color="light" mdbWavesEffect (click)="cancel()">annuler</button>

          </div>



        </div>
      </form>
    </mdb-card-body>
  </mdb-card>

  <mdb-card class="mt-2 animated bounceInUp" *ngIf="show">
    <mdb-card-body>
      <button type="button" class="mb-2" mdbBtn color="primary" mdbWavesEffect size="sm"
        (click)="basicModal.show()">AJOUTER</button>
      <table class="table table-condensed table-striped table-bordered" *ngIf="muns.length>0">
        <tr>
          <th>Code</th>
          <th>Commune</th>
          <th>option</th>
        </tr>
        <tr *ngFor="let mun of muns">
          <td>{{mun.code}}</td>
          <td>{{mun.name}}</td>
          <td></td>
        </tr>
      </table>

      <span *ngIf="noResult">{{noResult}}</span>
    </mdb-card-body>
  </mdb-card>

</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">ENREGISTREMENT COMMUNE</h4>
      </div>
      <div class="modal-body">
        <form style="color: #757575;" [formGroup]="munForm">
          <div class="row">
           <div class="col-md-12">
            <div class="col-md-3">
              <div class="md-form form-sm  m-0">
                <div class="md-form">
                  <input mdbInput type="text" id="code" class="form-control" formControlName="code">
                  <label for="code">Code </label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="md-form form-sm  m-0">
                <div class="md-form">
                  <input mdbInput type="text" id="mun" class="form-control" formControlName="name">
                  <label for="mun">commune </label>
                </div>
              </div>
            </div>
           </div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" size="sm" mdbBtn color="light" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" size="sm" mdbWavesEffect>annluer</button>
        <button type="button" mdbBtn size="sm"  (click)="basicModal.hide();saveMuncipilaty()" color="primary" class="relative waves-light" mdbWavesEffect>enregistrer</button>
      </div>
    </div>
  </div>
</div>