<div class="container mt-5" *ngIf="!regions">
  <h4>chargement en cours...</h4>
  <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
</div>

<div class="container mt-5 animated mb-1 bounceInDown" *ngIf="regions">
  <div class="row">
    <div class="col-md-4">
      <mdb-card class="text-black-50" bgColor="bg-light">
        <mdb-card-body>
          <h4 class="text-center">total : <b>{{recap.totalCities}}</b></h4>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-2">
      <mdb-card class="text-white mb-3" bgColor="bg-danger">
        <mdb-card-body>
          <h4 class="text-center">{{recap.redCities}}</h4>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-2">
      <mdb-card class="text-white mb-3" bgColor="bg-warning">
        <mdb-card-body>
          <h4 class="text-center">{{recap.orangeCities}}</h4>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-2">
      <mdb-card class="text-white mb-3" bgColor="bg-primary">
        <mdb-card-body>
          <h4 class="text-center">{{recap.bleuCities}}</h4>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-2">
      <mdb-card class="text-white mb-3" bgColor="bg-success">
        <mdb-card-body>
          <h4 class="text-center">{{recap.greenCities}}</h4>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div *ngFor="let region of regions" class="">
    <mdb-card class="mb-2">
      <mdb-card-title>
        <h3 class="text-center ">{{region.name}} : {{region.prctRegistered}}%
          ({{region.totalRegistered}}/{{region.totalRegisteredPrct}},dont {{region.totalReserveToHave}} reservistes)</h3>
      </mdb-card-title>
      <mdb-card-body>
        <div *ngFor="let dept of region.departments" class="col-md-12 mb-2">
          <mdb-card>
            
            <mdb-card-body>
              <h4 class="text-center mt-2">{{dept.name}} :{{dept.prctRegistered}}%
                ({{dept.totalRegistered}}/{{dept.totalRegisteredPrct}},dont {{dept.totalReserveToHave}} reservistes)
              </h4>
              <hr>

              <div class="row mb-2" *ngFor="let city of dept.cities">
                <div class="col-md-2 my-auto text-center">
                  {{city.name}}
                </div>
                <div class="col-md-1 my-auto  d-none d-sm-block">
                :
                </div>
                <div class="col-md-9 text-left">
                  <div class="progress text-left mr-1" *ngIf="city.prctRegistered<=65" style="height: 40px;">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0"
                      style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                      aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                        {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}} ,dont 
                        {{city.totalReserveToHave}} reservistes )</b></div>
                  </div>

                  <div class="progress text-left mr-1" *ngIf="city.prctRegistered>65 && city.prctRegistered<90"
                    style="height: 40px;">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0"
                      style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                      aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                        {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}},dont
                        {{city.totalReserveToHave}} reservistes)</b></div>
                  </div>

                  <div class="progress text-left mr-1" *ngIf="city.prctRegistered>=90 && city.prctRegistered<100"
                    style="height: 40px;">
                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0"
                      style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                      aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                        {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}},dont 
                        {{city.totalReserveToHave}} reservistes)</b></div>
                  </div>

                  <div class="progress text-left mr-1" *ngIf="city.prctRegistered>=100" style="height: 40px;">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0"
                      style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                      aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                        {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}},dont
                        {{city.totalReserveToHave}} reservistes)</b></div>
                  </div>
                </div>
              </div>
              <!-- <table style="width: 100%;">
                <tr *ngFor="let city of dept.cities">
                  <td style="width: 15%;text-align: center;"><b class="text-right">{{city.name}}</b></td>
                  <td style="width: 1%;">:</td>
                  <td>
                    <div class="progress text-left mr-1" *ngIf="city.prctRegistered<=65" style="height: 40px;">
                      <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="0"
                        style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                        aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                          {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}}.
                          {{city.totalReserveToHave}} reservistes attendus)</b></div>
                    </div>
  
                    <div class="progress text-left mr-1" *ngIf="city.prctRegistered>65 && city.prctRegistered<90"
                      style="height: 40px;">
                      <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0"
                        style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                        aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                          {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}}.
                          {{city.totalReserveToHave}} reservistes attendus)</b></div>
                    </div>
  
                    <div class="progress text-left mr-1" *ngIf="city.prctRegistered>=90 && city.prctRegistered<100"
                      style="height: 40px;">
                      <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0"
                        style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                        aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                          {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}}.
                          {{city.totalReserveToHave}} reservistes attendus)</b></div>
                    </div>
  
                    <div class="progress text-left mr-1" *ngIf="city.prctRegistered>=100" style="height: 40px;">
                      <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0"
                        style="text-align: center; font-size: 25px;" [ngStyle]="{'width': city.prctRegistered +'%'  }"
                        aria-valuemin="0" aria-valuemax="100"> <b style="text-align: center; font-size: 22px;">
                          {{city.prctRegistered}}% ({{city.totalRegistered}}/{{city.totalRegisteredPrct}}.
                          {{city.totalReserveToHave}} reservistes attendus)</b></div>
                    </div>
  
  
  
                    </td>
                </tr>
              </table> -->
            </mdb-card-body>
          </mdb-card>


        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>