<div *ngFor="let reg of regions" class="animated bounceInDown">
  <mdb-card class="mb-2">
    <mdb-card-body>
      <mdb-card-title>
        <h4 class="text-center">{{reg.name}} ({{reg.totalRegistered}} sur {{reg.nbEmpNeeded}})</h4>
      </mdb-card-title>
  <table style="width: 100%;">
    <tr>
      <td style="width: 20%;"><b>Inscrit(s)</b></td>
      <td>:</td>
      <td style="width: 100%;text-align: left;">{{reg.totalRegistered}}</td>
    </tr>
    <tr>
      <td><b>Pré-sélectionné(s)</b></td>
      <td>:</td>
      <td>{{reg.totalPreSelected}}</td>
    </tr>
    <tr>
      <td><b>formé(s)</b></td>
      <td>:</td>
      <td>{{reg.totalOnTraining}}</td>
    </tr>
    <tr>
      <td><b>Sélectionnée(s)</b></td>
      <td>:</td>
      <td>{{reg.totalSelected}}</td>
    </tr>

    <tr>
      <td><b>Réserviste(s)</b></td>
      <td>:</td>
      <td>{{reg.totalReserved}}</td>
    </tr>
  </table>
    </mdb-card-body>
  </mdb-card>
</div>