<div class="mt-5 container animated bounceInDown">
  <div class="row d-flex justify-content-center">
    <mdb-card class="col-md-10">
      <form style="color: #757575;" [formGroup]="searchForm">
        <div class="form-row">
          <div class="col">
            <div class="md-form form-sm">
              <mdb-date-picker name="mydate" [inline]="true" [options]="myDatePickerOptions"
                [placeholder]="'date debut'" formControlName="startDate"></mdb-date-picker>
            </div>
          </div>

          <div class="col">
            <div class="md-form form-sm">
              <mdb-date-picker name="mydate1" [inline]="true" [options]="myDatePickerOptions"
                [placeholder]="'date debut'" formControlName="endDate"></mdb-date-picker>
            </div>
          </div>
          <div class="col">
            <div class="md-form form-sm">
              <button type="button" (click)="searchFailures()"
                [disabled]="!searchForm.value.startDate && !searchForm.value.endDate" size="sm" mdbBtn color="primary"
                mdbWavesEffect>rechercher</button>

                <button type="button" (click)="reset()"
               size="sm" mdbBtn color="light"
                mdbWavesEffect>reprendre</button>
            </div>
          </div>

        </div>
      </form>
    </mdb-card>

    <div *ngIf="showSearch" class="mt-1 col-md-10">
      <div *ngIf="!noResult && failures.length===0">
        <h4>patientez...</h4>
        <mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
      </div>

      <span *ngIf="noResult" class="text-danger">{{noResult}}</span>
      <span *ngIf="failures.length>0">{{failures.length}} panne(s) trouvée(s)</span>
      <mdb-card style="font-size: 12px;padding: 0%;" class="mt-1" *ngFor="let item of failures ; let i = index"
      [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
        <mdb-card-body>
          <span>Region : <b>{{item.region.name}}</b></span>. Departement : <b><span *ngIf="item.departmentId">{{item.department.name}}({{item.department.code}})</span></b>
        <p>
          IMEI : <b> <span *ngIf="item.tabletId" class="text-danger">{{item.tablet.imei}}</span> <span *ngIf="!item.tabletId" class="text-danger">introuvable</span></b>
        {{item.failureList1.name}} <span *ngIf="item.note1">({{item.note1}})</span> 
        </p>
        <p>
          DATE :   {{item.failureDate|date:'dd/MM/yyyy'}} à {{item.failureDate|date:'HH:mm:ss'}}. 
          <span *ngIf="item.repaired===1"> Panne Résolue</span>
          <span *ngIf="item.repaired===2"> En panne malgré la réparation</span>
          <span *ngIf="item.repaired===3"> En attente d'une intervention</span>
          <span *ngIf="item.repaired===4"> Problème résolu</span>
        </p>
        <span *ngIf="item.tabletExId">
          Tablette de rechange <b>{{item.tabletEx.imei}}</b>
        </span>

        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>