<div class="container mt-5 animated bounceInDown">
  <mdb-card>
    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>entrée en Stock</strong>
      </h5>
    </mdb-card-header>
    .<mdb-card-body class="row">
      <form class="col-md-6 z-depth-1" style="height: 300px;color: #757575;" [formGroup]="stockForm">
        <div class="md-form">
          <div class="md-form">
            <input mdbInput type="text" id="refNum" formControlName="refNum" class="form-control">
            <label for="refNum">Référence</label>
          </div>
        </div>
        <div class="md-form mdb-date-time">
          <!-- <mdb-date-picker name="mydate" [inline]="true" [options]="myDatePickerOptions"
            [placeholder]="'choisir la date et l\'heure'" formControlName="mvtDate"></mdb-date-picker> -->

          <input (focus)="this.datePicker.openBtnClicked()" #input id="tm" name="tm" class="form-control date-time picker-opener"
            data-open="picker2" placeholder="Date et heure"  type="text" />
          <mdb-date-picker formControlName="startDate" (dateChanged)="onDateChange($event)" [options]="myDatePickerOptions" #datePicker>
          </mdb-date-picker>
          <mdb-time-picker formControlName="startTime" (timeChanged)="onTimeChange($event)" [buttonLabel]="'ok'" [twelvehour]="false" #timePicker>
          </mdb-time-picker>
        </div>
        <div class="md-form">
          <mdb-select [options]="stores" placeholder="choisir le magasin" formControlName="toStoreId"></mdb-select>
        </div>
        </form>
      <div class="col-md-6 " >
        <div class="table-responsive-sm z-depth-1" style="height: 300px;">
          <table class="table">
            <thead class="sticky-top">
              <tr>
                <th>#</th>
                <th>Materiel</th>
                <th>Quantité</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let prod of products, let i=index">
                <td style="vertical-align: middle;">{{i+1}}-</td>
                <td style="vertical-align: middle;"><b>{{prod.name}}</b></td>
                <td style="vertical-align: middle;">
                    <input (ngModelChange)="setTotal()"   type="number" id="i" [(ngModel)]="prod.qty" class="form-control">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
          
        </table> -->
      </div>
      <div class="col-md-12 text-center mt-1">
        <button size="sm" type="button" mdbBtn color="success" [disabled]="!stockForm.valid || total===0" class="relative waves-light" (click)="checkSelected();basicModal.show()" mdbWavesEffect>ENREGISTRER</button>
      </div>
    </mdb-card-body>
  </mdb-card>
</div>




<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">CONFIRMATION</h4>
      </div>
      <div class="modal-body">
       <h4>confirmez-vous cet enregistrement  ???</h4>
       <table class="table table-sm table-condensed table-striped">
        <tr *ngFor="let prod of selectProducts">
          <td>{{prod.name}}</td>
          <td>{{prod.qty}}</td>
        </tr>
      </table>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="light" size="sm" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>fermer</button>
        <button type="button" [disabled]="waitForValidation" (click)="basicModal.hide();save()" mdbBtn color="primary" size="sm" class="relative waves-light" mdbWavesEffect>enregistrer</button>
      </div>
    </div>
  </div>
</div>