<div class="container mt-5 animated bounceInDown">
  <button type="button" size="sm" mdbBtn color="primary" class="relative waves-light" (click)="createStockForm(null);basicModal.show()"
    mdbWavesEffect>ajouter un magasin</button>

    <h3 *ngIf="stores.length===0">Aucun magasin trouvé...</h3>
    <div class="row" *ngIf="stores.length>0">
        <!-- Card -->
        <mdb-card class="col-md-3 m-2 text-white"  *ngFor="let store of stores"  [ngStyle]="{'background-color': store.color}">
            <mdb-card-body>
            <!--Title-->
            <mdb-card-title class="text-center">
              <h4> {{store.name}}</h4>
            </mdb-card-title>
      
           <b *ngIf="!store.products">aucun materiel trouvé...</b>

           <div *ngIf="store.products">
            <table class="table table-sm text-white">
              <tr *ngFor="let prod of store.products">
               <td> {{prod.product.name}}</td>
               <td> {{prod.qty}}</td>
              </tr>
            </table>
            
           </div>
           <div class="text-center">
            <a (click)="createStockForm(store);basicModal.show()" mdbBtn color="primary" size="sm" mdbWavesEffect>editer</a>
          </div>
          </mdb-card-body>
        </mdb-card>
    </div>
   

</div>


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">ENREGISTREMENT MAGASIN</h4>
      </div>
      <div class="modal-body">
        <mdb-card  >
          <mdb-card-body class="row">
            <form style="color: #757575;" [formGroup]="storeForm"> 
              <div class="md-form">
                <div class="md-form">
                  <input mdbInput type="text" id="name" formControlName="name" class="form-control">
                  <label for="name">Nom</label>
                </div>

                <div class="md-form">
                  <input mdbInput type="text" id="color" formControlName="color" [(colorPicker)]="color"
                    [style.background]="color" (colorPickerChange)="setColor()">
                  <label for="color">Couleur</label>
                </div>
              </div>

            </form>


          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="light" size="sm" class="waves-light" aria-label="Close"
          (click)="basicModal.hide()" mdbWavesEffect>fermer</button>
        <button type="button" mdbBtn color="success"   [disabled]="!storeForm.valid"
        (click)="saveStore();basicModal.hide()" size="sm" class="relative waves-light"
          mdbWavesEffect>enregistrer</button>
      </div>
    </div>
  </div>
</div>