<div class="container mt-3 animated jackInTheBox">
    <div class="d-flex justify-content-center">
        <div class="col-md-10">
            <mdb-card class="row">
                <mdb-card-body>
                    <form style="color: #757575;" [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="md-form form-sm m-0">
                                    <mdb-select id="typeEmpId" [options]="typeEmps" placeholder="Poste"
                                        formControlName="typeEmpId">
                                    </mdb-select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="md-form form-sm m-0">
                                    <mdb-select id="regionId" [options]="regions" placeholder="region"
                                        formControlName="regionId" (ngModelChange)="getDepartments()">
                                    </mdb-select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="md-form form-sm m-0">
                                    <mdb-select id="departmentId" [options]="depts" placeholder="département"
                                        formControlName="departmentId" (ngModelChange)="getCities()">
                                    </mdb-select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="md-form form-sm  m-0">
                                    <mdb-select id="resCityId" [options]="cities" placeholder="ville ou commune"
                                        formControlName="resCityId">
                                    </mdb-select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="md-form form-sm  m-0">
                                    <button title="rechercher" type="button" mdbBtn size="sm" color="success"
                                        mdbWavesEffect (click)="searchEmp()" title="effacer"
                                        [disabled]="!searchForm.value.typeEmpId && !searchForm.value.regionId && !searchForm.value.departmentid && !searchForm.value.resCityId">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <button type="button" size="sm" mdbBtn color="light" mdbWavesEffect
                                        (click)="initialize()"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="md-form form-sm m-0">
                                    <div class="md-form">
                                        <input mdbInput type="text" id="lastName" formControlName="empName"
                                            class="form-control">
                                        <label for="lastName">nom et ou prénom(s)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </mdb-card-body>
            </mdb-card>
            <mdb-card class="row mt-2" *ngIf="usersDiv">
                <mdb-card-body>
                    <div *ngIf="!noResult && users.length===0">
                        <h4>patientez....</h4>
                    </div>
                    <div *ngIf="noResult">
                        <h3><b>{{noResult}}</b></h3>
                    </div>
                    <div *ngIf=" users.length>0" class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-2">
                                        <input mdbInput type="text" id="form1" [formControl]="searchControl"
                                            class="form-control mr-2">
                                        <label for="form1" class="">rechercher</label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="md-form form-sm mt-2">
                                        <button [disabled]="isSelected.length===0" type="button"
                                            (click)="basicModal.show()" mdbBtn color="primary" size="sm"
                                            mdbWavesEffect>enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>{{filteredUsers.length}} personne(s) trouvée(s)</p>
                        </div>

                        <div *ngFor="let user of filteredUsers | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index"
                            class="col-md-3 my-5" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                            <app-callSheet-card [user]="user" [index]="i" (setSelection)="setSelection($event)">
                            </app-callSheet-card>
                        </div>
                        <!-- PAGINATION CONTROL -->
                        <div class="col-md-12 mt-3" *ngIf="users?.length">
                            <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel="">
                            </pagination-controls>
                        </div>

                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>

</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">CONFIRMATION</h4>
            </div>
            <div class="modal-body">
                <h6><b>{{isSelected.length}} personne(s) sélectionnée(s)</b></h6>
                <h3>Confirmez-vous l'enregistrement ?</h3>
                <div class="modal-footer">
                    <button type="button" mdbBtn color="light" size="sm" class="waves-light" aria-label="Close"
                        (click)="basicModal.hide()" mdbWavesEffect>annuler</button>
                    <button type="button" mdbBtn color="primary" size="sm" class="relative waves-light" mdbWavesEffect
                        (click)="[basicModal.hide(),save()]">enregistrer!</button>
                </div>
            </div>

        </div>
    </div>
</div>